spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookrental?createDatabaseIfNotExist=true
    username: root
    password: Thoai12309@
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: lelamluc1234@gmail.com
    password: kwmttdbfyzxniqdc
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
server:
  port: 8081

app:
  frontend:
    url: http://localhost:3000/reset-password #thay bằng đường dẫn fontend chính
